.home {
  /**
 * HERO
 */

  .hero {
    --hero-bg: var(--navy-blue);
    --hero-section-top-pad: var(--section-vert-pad);
    --hero-section-bottom-pad: calc(var(--section-vert-pad) + 4rem);
    --hero-section-name: var(--red);
    --hero-section-title: #fff;
    --hero-section-subtitle: var(--red);
  }

  .hero {
    padding: 12rem 0;
    background-color: var(--hero-bg);
  }

  .hero__child {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .hero__left {
    max-width: 50%;

    &__button {
      max-width: 160px;
      margin-top: 2rem;
    }
  }

  .hero__child .section__name {
    font-size: 1.563rem;
    color: var(--hero-section-name);
  }

  .hero__child .section__title {
    font-size: 4rem;
    color: var(--hero-section-title);
    line-height: 1.2;
    font-weight: 300;
  }

  .hero__child .section__subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--hero-section-title);
    line-height: var(--text-line-height);
  }

  .hero__child .section__name + .section__title {
    margin-top: var(--name-title-gap);
  }

  .hero__child .section__title + .section__subtitle {
    margin-top: var(--title-subtitle-gap);
  }

  @media only screen and (max-width: 768px) {
    .hero {
      padding-top: 8rem;
    }

    .hero__child .section__title {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.15;
      text-align: center;
    }

    .hero__child .section__subtitle {
      text-align: center;
      max-width: var(--title-max-width) !important;
    }
  }

  .hero__right {
    position: relative;
    flex: 1;
  }

  .hero__right__circle {
    width: 460px;
    height: 460px;
    background-color: var(--red);
    border-radius: 50%;
    position: absolute;
    top: 5rem;
    right: 4rem;
  }

  /**
 * Hero Floaters
 */

  .hero__floaters {
    --floater-box-vertical-gap: 96px;
    --hero-bg: var(--navy-blue);
  }

  .hero__floaters {
    padding: 0;
  }

  .hero__floaters_box_right_bottom {
    position: absolute;
    right: -2rem;
    bottom: -5rem;
  }

  .hero__floaters_box_right_bottom img {
    width: 220px;
  }

  .hero__floaters_box_right_top {
    position: absolute;
    top: -3rem;
    right: 0;
  }

  .hero__floaters_box_right_top img {
    width: 250px;
    display: block;
  }

  .hero__floaters_box_left {
    position: absolute;
    bottom: -8rem;
    left: 5rem;
  }

  .hero__floaters_box_left img {
    width: 250px;
  }

  .hero__floaters_box_right_top .hero__floaters_box_content {
    width: 220px;
  }

  .hero__floaters_box_right_bottom .hero__floaters_box_content {
    width: 270px;
  }

  .hero__floaters_box_left .hero__floaters_box_content {
    width: 250px;
  }

  .hero__floaters_box_content {
    --radius: 14px;

    position: absolute;
    display: flex;
    align-items: stretch;
    height: 68px;
    box-shadow: 0 0 4px 0 #c7c7c7;
    border-radius: var(--radius);
    width: 300px;
  }

  .hero__floaters_box_right_bottom .hero__floaters_box_content {
    bottom: 0;
    right: -2rem;
    transform: scale(0.9);
  }

  .hero__floaters_box_right_top .hero__floaters_box_content {
    left: -10rem;
    transform: scale(0.9);
    bottom: 4rem;
  }

  .hero__floaters_box_left .hero__floaters_box_content {
    bottom: 6rem;
    right: 9rem;
    transform: scale(0.9);
  }

  .hero__floaters_box_content div:first-child {
    flex: 0 0 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 500;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    background-color: #fff;
    color: var(--navy-blue);
    font-family: var(--font);
  }

  .hero__floaters_box_content div:last-child {
    flex: 1 1 auto;
    display: flex;
    padding-left: 0.5rem;
    align-items: center;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    background-color: #f7f7f7;
  }

  .hero__floaters_box_content div:last-child p {
    font-weight: 400;
    font-size: 0.875rem;
  }

  .hero__floaters_box_content div:last-child em {
    color: var(--primary-blue);
    font-style: normal;
  }

  @media only screen and (max-width: 1024px) {
    .hero {
      padding-bottom: var(--hero-section-top-pad);
    }

    .hero__left {
      max-width: 100%;
      margin-top: var(--hero-section-top-pad);
      display: flex;
      flex-direction: column;
      align-items: center;

      &__button {
        width: 200px;
      }
    }

    .hero__child .section__subtitle {
      max-width: 100%;
      font-size: 1.2rem;
    }

    .hero__floaters {
      position: relative;
    }

    .hero__child {
      max-width: 100%;
      padding-bottom: 3rem;
      flex-direction: column;
    }

    .hero__right {
      position: unset;
      display: flex;
      margin-top: 40px;
      justify-content: center;
    }

    .hero__left {
      padding-bottom: 0;
    }

    .hero__floaters img {
      width: 150px;
    }

    .hero__child .section__subtitle {
      max-width: 100%;
    }

    .hero__floaters_box_right_bottom {
      right: 0;
      bottom: -5rem;
    }

    .hero__floaters_box_right_top {
      bottom: 17rem;
      right: 0;
      top: unset;
    }

    .hero__floaters_box_left {
      bottom: 4rem;
      left: -30rem;
    }

    .hero__floaters_box_left .hero__floaters_box_content {
      bottom: 2rem;
      right: -4rem;
    }

    .hero__right__circle {
      width: 400px;
      height: 400px;
      position: unset;
    }
  }

  @media only screen and (max-width: 700px) {
    .hero {
      padding-bottom: var(--hero-section-top-pad);
      margin-bottom: 0;
    }

    .hero__floaters {
      position: relative;
    }

    .hero__child {
      max-width: 100%;
      padding-bottom: 3rem;
      flex-direction: column;
    }

    .hero__right {
      position: unset;
      display: flex;
      margin-top: 40px;
      justify-content: center;
    }

    .hero__left {
      padding-bottom: 0;
    }

    .hero__floaters img {
      width: 150px;
    }

    .hero__child .section__subtitle {
      max-width: 100%;
    }

    .hero__floaters_box_right_bottom {
      right: 1rem;
      bottom: -5rem;
    }

    .hero__floaters_box_right_bottom .hero__floaters_box_content {
      width: 250px;
    }

    .hero__floaters_box_right_top {
      bottom: 14rem;
      right: 0;
      top: unset;
    }

    .hero__floaters_box_right_top .hero__floaters_box_content {
      width: 180px;
    }

    .hero__floaters_box_left {
      bottom: 3rem;
      left: -25rem;
    }

    .hero__floaters_box_left .hero__floaters_box_content {
      bottom: 1rem;
      right: -1rem;
      width: 230px;
    }

    .hero__right__circle {
      width: 350px;
      height: 350px;
      position: unset;
    }
  }

  /**
 * Overdraft
 */

  .overdraft {
    --overdraft-bg: var(--lighter-grey);
    --overdraft-section-vert-pad: var(--section-vert-pad);
    --overdraft-section-name: var(--red);
    --overdraft-section-title: var(--navy-blue);
  }

  .overdraft {
    padding: var(--overdraft-section-vert-pad) 0;
    background-color: #f8f8f8;
  }

  .overdraft__child {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overdraft__child .section__title {
    color: var(-overdraft-section-title);
    margin-bottom: 30px;
    text-transform: unset;
    font-weight: 500;
    font-size: 40px;
    line-height: 4rem;
  }

  .overdraft__child .section__subtitle {
    color: #9e9e9e;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: var(--font);
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .overdraft__child .section__name + .section__subtitle {
    margin-bottom: var(--name-title-gap);
  }

  .overdraft__child .section__title + .pain__list {
    margin-top: var(--title-content-gap);
  }

  .overdraft__text {
    width: 60%;
  }

  .overdraft__image {
    width: 50%;
    height: 100%;
  }

  @media only screen and (max-width: 1024px) {
    .overdraft {
      padding: calc(var(--overdraft-section-vert-pad) * 2) 0;
    }

    .overdraft__child {
      flex-direction: column;
    }

    .overdraft__text,
    .overdraft__image {
      width: 100%;
    }

    .overdraft__child .section__title {
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 1rem;
      text-align: left;
    }

    .overdraft__child .section__subtitle {
      font-size: 1.3rem;
      line-height: 1.8rem;
      margin-bottom: 1rem;
      text-align: left;
    }
  }

  /**
 * Paycheck
 */

  .paycheck {
    --paycheck-bg: var(--lighter-grey);
    --paycheck-section-vert-pad: var(--section-vert-pad);
    --paycheck-section-name: var(--red);
    --paycheck-section-title: var(--navy-blue);
  }

  .paycheck {
    background-color: white;
    padding: calc(var(--paycheck-section-vert-pad) * 2.5) 0;
  }

  .paycheck__child {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .paycheck__child .section__title {
    color: var(-paycheck-section-title);
    line-height: 4rem;
    font-size: 40px;
    max-width: 768px;
  }

  .paycheck__child .section__subtitle {
    color: #9e9e9e;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: var(--font);
    font-weight: 400;
    margin-bottom: 0.5rem;
    max-width: 768px;
  }

  .paycheck__child .section__name + .section__subtitle {
    margin-bottom: var(--name-title-gap);
  }

  .paycheck__child .section__title + .pain__list {
    margin-top: var(--title-content-gap);
  }

  .paycheck__image {
    width: 48%;
    height: 100%;
  }

  .paycheck__image img {
    width: 600px;
    height: auto;
  }

  @media only screen and (max-width: 1024px) {
    .paycheck {
      padding: calc(var(--paycheck-section-vert-pad) * 2) 0;
    }

    .paycheck__child {
      flex-direction: column;
    }

    .paycheck__text,
    .paycheck__image {
      width: 100%;
    }

    .paycheck__child .section__title {
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 1rem;
      text-align: left;
    }

    .paycheck__child .section__subtitle {
      font-size: 1.3rem;
      line-height: 1.8rem;
      margin-bottom: 1rem;
      text-align: left;
      max-width: unset;
    }
  }

  /**
 * Advance
 */

  .advance {
    --advance-bg: var(--lighter-grey);
    --advance-section-vert-pad: var(--section-vert-pad);
    --advance-section-name: var(--red);
    --advance-section-title: var(--navy-blue);
  }

  .advance {
    padding: calc(var(--advance-section-vert-pad) * 2) 0;
    background-color: #f8f8f8;
  }

  .advance__child {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .advance__child .section__title {
    color: var(-advance-section-title);
    margin-bottom: 30px;
    text-transform: unset;
    font-weight: 500;
    font-size: 40px;
    line-height: 4rem;
  }

  .advance__child .section__subtitle {
    color: #9e9e9e;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: var(--font);
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .advance__child .section__name + .section__subtitle {
    margin-bottom: var(--name-title-gap);
  }

  .advance__child .section__title + .pain__list {
    margin-top: var(--title-content-gap);
  }

  .advance__text {
    width: 40%;
  }

  .advance__image {
    padding-left: 200px;
    width: 60%;
  }

  .advance__child img {
    width: 600px;
    height: auto;
  }

  @media only screen and (max-width: 1024px) {
    .advance {
      padding: calc(var(--advance-section-vert-pad) * 2) 0;
    }

    .advance__child {
      flex-direction: column;
    }

    .advance__image {
      padding-left: 0;
    }

    .advance__text,
    .advance__image {
      width: 100%;
    }

    .advance__child .section__title {
      font-size: 1.8rem;
      line-height: 2.2rem;
      text-align: left;
      margin-bottom: 1rem;
    }

    .advance__child .section__subtitle {
      font-size: 1.3rem;
      line-height: 1.8rem;
      margin-bottom: 1rem;
      text-align: left;
    }
  }

  /**
 * Rewards
 */

  .rewards {
    --rewards-bg: var(--lighter-grey);
    --rewards-section-vert-pad: var(--section-vert-pad);
    --rewards-section-name: var(--red);
    --rewards-section-title: var(--navy-blue);
  }

  .rewards {
    padding: calc(var(--rewards-section-vert-pad) * 2) 0;
    background-color: white;
  }

  .rewards__child {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .rewards__child .section__title {
    color: var(-rewards-section-title);
    margin-bottom: 30px;
    text-transform: unset;
    font-weight: 500;
    font-size: 40px;
    line-height: 4rem;
  }

  .rewards__child .section__subtitle {
    color: #9e9e9e;
    max-width: 90%;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: var(--font);
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .rewards__child .section__name + .section__subtitle {
    margin-bottom: var(--name-title-gap);
  }

  .rewards__child .section__title + .pain__list {
    margin-top: var(--title-content-gap);
  }

  .rewards__text {
    width: 60%;
    padding-left: 200px;
  }

  .rewards__image {
    width: 40%;
  }

  .rewards__image img {
    width: 600px;
    height: auto;
  }

  @media only screen and (max-width: 1024px) {
    .rewards {
      padding: calc(var(--rewards-section-vert-pad) * 2) 0;
    }

    .rewards__child {
      flex-direction: column;
    }

    .rewards__text {
      padding-left: 0;
    }

    .rewards__text,
    .rewards__image {
      width: 100%;
    }

    .rewards__child .section__title {
      font-size: 1.8rem;
      line-height: 2.2rem;
      text-align: left;
      margin-bottom: 1rem;
    }

    .rewards__child .section__subtitle {
      font-size: 1.3rem;
      line-height: 1.8rem;
      margin-bottom: 1rem;
      text-align: left;
    }
  }

  /**
 * credit
 */

  .credit {
    --credit-bg: var(--lighter-grey);
    --credit-section-vert-pad: var(--section-vert-pad);
    --credit-section-name: var(--red);
    --credit-section-title: var(--navy-blue);
  }

  .credit {
    padding: calc(var(--credit-section-vert-pad)) 0;
    background-color: #f8f8f8;
  }

  .credit__child {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .credit__child .section__title {
    color: var(-credit-section-title);
    margin-bottom: 30px;
    text-transform: unset;
    font-weight: 500;
    font-size: 50px;
    line-height: 4rem;
  }

  .credit__child .section__subtitle {
    color: #9e9e9e;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: var(--font);
    font-weight: 400;
    margin-bottom: 0.5rem;
    max-width: 73%;
  }

  .credit__child .section__name + .section__subtitle {
    margin-bottom: var(--name-title-gap);
  }

  .credit__child .section__title + .pain__list {
    margin-top: var(--title-content-gap);
  }

  .credit__text {
    width: 50%;
  }

  .credit__image {
    padding-left: 100px;
    width: 50%;
  }

  .credit__child img {
    width: 600px;
    height: auto;
  }

  @media only screen and (max-width: 1024px) {
    .credit {
      padding: calc(var(--credit-section-vert-pad) * 2) 0;
    }

    .credit__child {
      flex-direction: column;
    }

    .credit__image {
      padding-left: 0;
    }

    .credit__text,
    .credit__image {
      width: 100%;
    }

    .credit__child .section__title {
      font-size: 1.8rem;
      line-height: 2.2rem;
      text-align: left;
      margin-bottom: 1rem;
    }

    .credit__child .section__subtitle {
      font-size: 1.3rem;
      line-height: 1.8rem;
      margin-bottom: 1rem;
      text-align: left;
    }
  }

  /**
 * Bill
 */

  .bill {
    --bill-bg: var(--lighter-grey);
    --bill-section-vert-pad: var(--section-vert-pad);
    --bill-section-name: var(--red);
    --bill-section-title: var(--navy-blue);
  }

  .bill {
    padding: calc(var(--bill-section-vert-pad)) 0;
    background-color: white;
  }

  .bill__child {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .bill__child .section__title {
    color: var(-bill-section-title);
    margin-bottom: 30px;
    text-transform: unset;
    font-weight: 500;
    font-size: 50px;
    line-height: 4rem;
  }

  .bill__child .section__subtitle {
    color: #9e9e9e;
    max-width: 80%;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: var(--font);
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .bill__child .section__name + .section__subtitle {
    margin-bottom: var(--name-title-gap);
  }

  .bill__child .section__title {
    margin-top: var(--title-content-gap);
  }

  .bill__text {
    width: 60%;
    padding-left: 200px;
  }

  .bill__image {
    width: 40%;
  }

  .bill__child img {
    width: auto;
    height: 500px;
  }

  @media only screen and (max-width: 1024px) {
    .bill {
      padding: calc(var(--bill-section-vert-pad) * 2) 0;
    }

    .bill__child {
      flex-direction: column;
    }

    .bill__text {
      padding-left: 0;
    }

    .bill__text,
    .bill__image {
      width: 100%;
    }

    .bill__child .section__title {
      font-size: 1.8rem;
      line-height: 2.2rem;
      text-align: left;
      margin-bottom: 1rem;
    }

    .bill__child .section__subtitle {
      font-size: 1.3rem;
      line-height: 1.8rem;
      margin-bottom: 1rem;
      text-align: left;
    }
  }

  @media only screen and (max-width: 1400px) and (orientation: landscape) {
    .overdraft__child img,
    .advance__child img,
    .rewards__child img,
    .credit__child img,
    .bill__child img,
    .paycheck__child img {
      width: 350px;
      height: auto;
    }
  }

  @media only screen and (max-width: 768px) {
    .overdraft__child img,
    .advance__child img,
    .rewards__child img,
    .credit__child img,
    .bill__child img,
    .paycheck__child img {
      width: 250px;
      height: auto;
    }
  }

  /**
 * Ways to earn
 */

  .waysToEarn {
    --waysToEarn-bg: var(--light-grey);
    --waysToEarn-section-vert-pad: var(--section-vert-pad);
    --waysToEarn-section-name: var(--red);
    --waysToEarn-section-title: var(--navy-blue);
  }

  .waysToEarn {
    background-color: var(--waysToEarn-bg);
    padding: calc(var(--waysToEarn-section-vert-pad) * 2.5) 0 calc(var(--waysToEarn-section-vert-pad) * 2) 0;
  }

  .waysToEarn__child {
    // max-width: var(--max-width);
    margin: 0 auto;
  }

  .waysToEarn__child .section__name {
    color: var(--waysToEarn-section-name);
    text-align: center;
  }

  .waysToEarn__child .section__title {
    color: var(--waysToEarn-section-title);
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
    line-height: var(--text-line-height);
    font-family: var(--font);
    font-weight: 500;
    max-width: 650px;
  }

  .waysToEarn__child .section__name + .section__title {
    margin-top: var(--name-title-gap);
  }

  .waysToEarn__child .section__title + .waysToEarn__list {
    margin-top: var(--title-content-gap);
  }

  .waysToEarn__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .waysToEarn__listitem {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0.75rem;
  }

  .waysToEarn__listitem__image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .waysToEarn__listitem__image img {
    width: auto;
    height: 100px;
  }

  .waysToEarn__listitem__title {
    color: var(--waysToEarn-section-title);
    margin-top: 3.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    text-align: center;
    line-height: 1.4;
  }

  @media only screen and (max-width: 768px) {
    .waysToEarn {
      padding: calc(var(--waysToEarn-section-vert-pad) * 2) 0 calc(var(--waysToEarn-section-vert-pad) * 1.5) 0;
    }

    .waysToEarn__listitem__image img {
      width: auto;
      height: 40px;
    }

    .waysToEarn__child .section__name {
      font-size: 1.3rem;
    }

    .waysToEarn__child .section__title {
      font-size: 2rem;
    }

    .waysToEarn__listitem__image {
      width: 40px;
      height: 40px;
    }

    .waysToEarn__listitem__title {
      margin-top: 1.5rem;
      font-size: 0.95rem;
      max-width: 100%;
    }

    .waysToEarn__listitem {
      width: 100px;
    }

    .waysToEarn__child .section__title {
      max-width: 100%;
    }
  }

  /**
 * Testmonials
 */

  .testimonials {
    --testimonials-bg: #fff;
    --testimonials-section-vert-pad: var(--section-vert-pad);
    --testimonials-section-name: var(--red);
    --testimonials-section-title: var(--navy-blue);
  }

  .testimonials {
    background-color: var(--testimonials-bg);
    padding: calc(var(--testimonials-section-vert-pad) * 2.5) 0 var(--testimonials-section-vert-pad) 0;
  }

  .testimonials__child {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .testimonials__child .section__name {
    color: var(--testimonials-section-name);
    text-align: center;
  }

  .testimonials__child .section__title {
    color: var(--testimonials-section-title);
    text-align: center;
    margin: 0 auto;
    font-family: var(--font);
  }

  .testimonials__child .section__name + .section__title {
    margin-top: var(--name-title-gap);
  }

  .testimonials__child .section__title + .testimonials__testimonies {
    margin-top: calc(var(--title-content-gap) + 65px);
  }

  .testimonials__testimonies {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .testimonials__testimony {
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    border-radius: 24px;
    padding: 6.5rem 2rem 6rem;
    box-shadow: 4px 5px 21px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 2rem 4rem;
  }

  .testimonials__testimony__image {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -20%;
    border-radius: 50%;
    padding-top: 18px;
  }

  .testimonials__testimony__image img {
    width: 100%;
    height: 100%;
  }

  .testimonials__testimony p {
    color: var(--navy-blue);
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    line-height: var(--text-line-height);
    max-width: 90%;
  }

  .testimonials__testimony h3 {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: var(--red);
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 400px) {
    .testimonials__testimony {
      width: 100%;
      padding: 2rem;
      margin-top: 4rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .testimonials {
      padding: var(--testimonials-section-vert-pad) 0 0 0;
    }

    .testimonials__child .section__title + .testimonials__testimonies {
      margin-top: calc(var(--title-content-gap));
    }

    .testimonials__child .section__name {
      font-size: 1.3rem;
    }

    .testimonials__testimony {
      margin-top: 4rem;
    }

    .testimonials__testimony__image {
      width: 65px;
      height: auto;
      top: -20%;
    }

    .testimonials__testimony__hrl {
      margin-top: 1rem;
    }

    .testimonials__testimony h3 {
      font-size: 0.95rem;
      margin-top: 1rem;
    }

    .testimonials__testimony p {
      padding-top: 1.5rem;
    }
  }

  @media only screen and (max-width: 1024px) {
    .testimonials__testimony {
      margin-bottom: 4rem;
    }
  }

  /** * Security */
  .security {
    --security-bg: #fff;
    --security-section-vert-pad: var(--section-vert-pad);
    --security-section-name: var(--red);
    --security-section-title: var(--navy-blue);
    --security-section-desc: var(--navy-blue);

    overflow: auto;
  }

  .security {
    background-color: var(--security-bg);
    padding: calc(var(--security-section-vert-pad) * 2) 0 calc(var(--security-section-vert-pad) * 4) 0;
  }

  .security__child {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .security__child .section__name {
    color: var(--security-section-name);
    text-align: center;
  }

  .security__child .section__title {
    color: var(--security-section-title);
    text-align: center;
    margin: 0 auto;
  }

  .security__child .section__name + .section__title {
    margin-top: var(--name-title-gap);
  }

  .security__child .section__title + .security__features {
    margin-top: var(--title-content-gap);
  }

  .security__features {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  .security__feat {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .security__feat__image {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
  }

  .security__feat__image img {
    width: auto;
    height: 300px;
  }

  .security__feat__image__security img {
    width: 254px;
    height: 260px;
  }

  .security__feat__text {
    max-width: 56%;
  }

  .security__feat__title {
    color: var(--security-section-title);
    font-weight: 700;
    font-size: 1.8rem;
    word-spacing: 6px;
  }

  .security__feat__desc {
    font-size: 1.3rem;
    font-weight: 500;
    max-width: 71%;
    color: var(--security-section-desc);
    font-family: 'Open Sans';
    margin-top: 2rem;
    line-height: 1.5;
    letter-spacing: 0.2px;
  }

  @media only screen and (max-width: 768px) {
    .security__child .section__name {
      font-size: 1.3rem;
    }

    .security__feat {
      flex-direction: column;
    }

    .security__feat__image img {
      height: 150px;
    }

    .security__feat__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .security__feat__title {
      margin-top: 2rem;
    }

    .security__feat__desc {
      text-align: center;
    }

    .security__feat__text {
      max-width: 100%;
    }
  }

  /**
 * Ways to earn
 */

  .pricing {
    --pricing-bg: var(--primary-blue);
    --pricing-section-vert-pad: var(--section-vert-pad);
    --pricing-section-name: var(--navy-blue);
    --pricing-section-title: var(--navy-blue);
  }

  .pricing {
    background-color: var(--pricing-bg);
    padding: calc(var(--pricing-section-vert-pad) * 2) 0;
  }

  .pricing__child {
    max-width: 807px;
    margin: 0 auto;
  }

  .pricing__child .section__name {
    color: var(--pricing-section-name);
    text-align: center;
  }

  .pricing__child .section__title {
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
    line-height: var(--text-line-height);
    font-family: var(--font);
    font-weight: 500;
  }

  .pricing__child .section__name + .section__title {
    margin-top: var(--name-title-gap);
  }

  .pricing__child .section__title + .pricing__plan {
    margin-top: var(--title-content-gap);
  }

  .pricing__plan {
    background-color: white;
    border-radius: 24px;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 122px 63px 61px;
    align-items: center;
  }

  .pricing__price {
    font-size: 91px;
    font-weight: 200;
    width: 100%;
    padding-bottom: 52px;
    text-align: center;
    border-bottom: 1px solid var(--primary-blue);

    span {
      font-size: 50px;
      font-weight: 400;
    }
  }

  .pricing__include {
    margin: 50px 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-blue);
  }

  .pricing__button {
    position: absolute;
    background-color: var(--red);
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    padding: 20px 73px;
    bottom: -20px;
  }

  .pricing__perks {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
  }

  .pricing__perk {
    flex: 50%;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
  }

  .pricing__perk p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .pricing__perk img {
    width: 40px;
    height: auto;
    margin-right: 20px;
    align-self: flex-start;
  }

  @media only screen and (max-width: 768px) {
    .pricing__child .section__name {
      font-size: 1.3rem;
    }

    .pricing {
      padding: var(--pricing-section-vert-pad) 0;
    }

    .pricing__plan {
      margin: 24px;
      padding: 32px;
    }

    .pricing__price {
      font-size: 51px;
      padding-bottom: 32px;
    }

    .pricing__price span {
      font-size: 20px;
    }

    .pricing__include {
      margin: 25px 0;
    }

    .pricing__button {
      position: static;
    }
  }

  /**
 * Signup Section
 */

  .signup {
    --signup-bg: var(--navy-blue);
    --signup-section-vert-pad: calc(var(--section-vert-pad));
    --signup-section-name: var(--primary-blue);
    --signup-section-title: #fff;
  }

  .signup {
    background-color: var(--signup-bg);
    padding: calc(var(--signup-section-vert-pad) * 2) 0 calc(var(--signup-section-vert-pad) * 2.5) 0;
  }

  .signup__child {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .section__description {
    text-align: center;
    font-weight: 400;
    margin-top: var(--name-title-gap);
  }

  .signup__child .section__title {
    color: var(--signup-section-title);
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    font-size: 4rem;
    margin-top: 2rem;
    font-family: var(--font);
  }

  .signup__child .section__description {
    font-size: 1.5rem;
    line-height: 43px;
    font-weight: 400;
    color: white;
  }

  .signup__child .button__primary {
    font-size: 1.2rem;
    max-width: 250px;
    padding: 15px 40px;
    margin: 2rem auto 0;
    margin-top: var(--name-title-gap);
  }

  .signup__child .button__betaSymbol {
    font-weight: 500;
    font-size: 1rem;
  }

  .signup__child .download {
    justify-content: center;
  }
}

/* Flickity Override styles */

.flickity-prev-next-button.previous {
  visibility: hidden;
}

.flickity-prev-next-button.next {
  visibility: hidden;
}

.flickity-page-dots {
  bottom: -75px;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 1px solid var(--navy-blue);
}

.flickity-page-dots .dot.is-selected {
  background: var(--primary-blue);
}
