body {
  --font: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
  --title-font: 'Zilla Slab';
  --subtitle-font: 'Open Sans';

  --max-width: 1280px;
  --title-max-width: 1000px;
  --subtitle-max-width: 350px;
  --name-title-gap: 2.5rem;
  --title-subtitle-gap: 2.8rem;
  --title-content-gap: 6rem;
  --section-vert-pad: 6rem;
  --text-line-height: 1.5;

  --dark-blue-black: #161f27;
  --navy-blue: #16203a;
  --red: #ef6767;
  --primary-blue: #0075e9;
  --light-green: #7ddebd;
  --dark-grey: #9e9e9e;
  --light-grey: #e9e9e9;
  --grey: #f8f8f8;
  --lighter-grey: #f0f0f0;
  --medium-break-point: 1024px;
}

body {
  height: 100%;
  width: 100%;
  font-family: var(--font);
  color: var(--navy-blue);
}

@media only screen and (max-width: 768px) {
  body {
    --max-width: 90%;
    --title-max-width: 90%;
    --subtitle-max-width: 90%;
    --name-title-gap: 1.5rem;
    --title-subtitle-gap: 1.8rem;
    --title-content-gap: 3rem;
    --section-vert-pad: 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    --max-width: 90%;
  }
}
